body {
    margin: 10px;
    padding: 10px;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-color: hsla(0, 0%, 100%, 1);
    background-image:
        radial-gradient(at 80% 100%, hsla(214, 100%, 58%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 0%, hsla(292, 100%, 64%, 1) 0px, transparent 50%);
}

#fullscreen-btn {
    position: relative;
    top: 20px;  /* Positioniert den Button unter dem letzten Text */
    left: 0;  /* Links ausgerichtet */
    width: 250px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    margin: 20px 0;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    border: 5px solid #00acee;
}

#fullscreen-btn .top {
    background: #00acee;
    transition: all 300ms ease-in-out;
    color: white;
    line-height: 45px;
    height: 50px;
}

#fullscreen-btn:hover .top {
    margin-top: -40px;
}

#fullscreen-btn .bottom {
    background: white;
    color: #222;
    height: 45px;
    line-height: 20px;
    font-size: 14px;
}

#fullscreen-content {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: relative;
}

#fullscreen-content img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

#fullscreen-content audio {
    width: 100%;
}
